body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
  
  .title{
      text-align: left;
  }
  
  nav {
    background-color: #333; /* Background color of the navigation bar */
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff; /* Text color for the title and button */
    position: fixed; /* This will fix position of nav bar */
    left: 0; /* Keep it on the left edge of the viewport */
    justify-content: space-between; /* To push the title and button to the opposite sides */
}
  
  .navbar-left h1 {
   margin: 0px;
    position: relative; /* ใช้ position: relative */
   left: 300px; /* ขยับไปทางด้านซ้ายตามต้องการ */
}

  
  .navbar-right a {
    text-decoration: none;
    background-color: #88cdf6;
    color: #fff; /* Text color for the button */
    border: none;
    padding: 10px 20px;
    border-radius: 500px;
    cursor: pointer;
    transition: .5s ease;
    position: relative; /* ใช้ position: relative */
    left: -300px; /* ขยับไปทางด้านซ้ายตามต้องการ */
}


  /* ###Content### */

  section {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  /* Add the background image to the desired section */
  #home {
    color: #000000; /* Set text color for better visibility */
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: #000000;
  }

  #home a {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 186px 300px;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s ease;
    display: inline-block;
    font-size: 150px; /* ขนาดเริ่มต้นของข้อความ */
}

#home a:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 300px 300px;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s;
    font-size: 150px; /* ขยายขนาดข้อความเมื่อโฮเวอร์ */
}

  img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 20px;
    width: 300px;
    height: 400px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .centered-content:hover .centered-text {
    opacity: 1;
}

/* CSS เริ่มต้นที่ซ่อนข้อความ */
.centered-text {
    opacity: 0;
    transition: opacity 0.3s; /* เพิ่มเอฟเฟกต์เมื่อแสดงข้อความ */
}

  #c {
    margin-right: 20px;
  }
  
  .navbar-right a:hover{
    background-color: #00a2ff; /* Background color of the button */
    color: #fff; /* Text color for the button */
    border: none;
    transform: scale(1.2);
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
  }
 
  footer {
    background-color: #f0f0f0;
    padding: 2px;
    text-align: center;
  }

  section:nth-child(even) {
    background-color: #f0f0f0;
  }

  .active {
    background-color: #00a2ff;
  }

  .inactive {
    background-color: #88cdf6;
  }
  #skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  #skills h2 {
    order: 1;
  }
  
  #skills p {
    order: 2;
  }
  
  #education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  #education h2 {
    order: 1;
  }
  
  #education p {
    order: 2;
  }

  #works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  #works h2 {
    order: 1;
  }
  
  #works p {
    order: 2;
  }
  
  #contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  #contacts h2 {
    order: 1;
  }
  
  #contacts p {
    order: 2;
  }
  
